<!DOCTYPE html>
<html>
 <style>
.usb-navbar {
  background-color: #0c2074;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  font-size: 13px;
  font-weight: 100;
  height: 46px;
  overflow: hidden;
  padding: 0 10px;
}
</style>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>USB Kubeflow Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url .ReqPath "static/main.css" }}" rel="stylesheet">
    <link href="{{ url .ReqPath "theme/styles.css" }}" rel="stylesheet">
  </head>

  <body class="theme-body">
    <div class="usb-navbar">
      <div class="theme-navbar__logo-wrap">
        <img class="theme-navbar__logo" src="{{ url .ReqPath "static/img/USBankLogo.png" }}">
      </div>
    </div>

    <div class="dex-container">
